## Pandas lesson 1

In [ ]:
# install pandas:
!pip install pandas

In [7]:
import numpy as np
import pandas as pd

In [16]:
np.random.randn(5) # returns an array of 5 numbers.

# create a series of randomized numbers:
pd.Series(np.random.randn(5))

# we can pass in indexes to a series like this:
seriesOfIndexes = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(seriesOfIndexes, '\n')

# create a series out of a dictionary:
myDict = {
    'a': 1.2,
    'b': 2,
    'c': 3
}
seriesFromDict = pd.Series(myDict)
print(seriesFromDict)

a   -0.846419
b    0.825188
c    0.219340
d    0.675668
e    2.786347
dtype: float64

a    1.2
b    2.0
c    3.0
dtype: float64

### Creating and using data frames:

In [18]:
# Create a dataframe from series:
d = {
    'C1': pd.Series(['A', 'B', 'C']),
    'C2': pd.Series([2,4,5])
}
mydataframe1 = pd.DataFrame(d)
print(mydataframe1)

  C1  C2
0  A   2
1  B   4
2  C   5

In [21]:
# create a dataframe by passing a numpy array with a datetime index using date_range() and labeled columns:

dates = pd.date_range("20130101", periods=6)
pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

                   A         B         C         D
2013-01-01 -0.412399 -1.132083  1.340930  0.761320
2013-01-02  0.101861  1.520364 -1.067190 -0.009772
2013-01-03 -0.204397  1.517109 -0.374596 -0.444781
2013-01-04  1.703011  0.547917  0.887155  1.343812
2013-01-05  0.490158 -0.592669 -0.738344 -0.594841
2013-01-06 -1.750086 -0.217419 -0.950329 -1.014964